<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<!-- page title -->
<section class="page-title bg-primary position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="text-white font-tertiary">Student details Page.</h1>
        </div>
      </div>
    </div>
    
  
  <!-- portfolio -->
  <section class="section">
    <div class="container">
     
    </div>
  </section>
  <!-- /portfolio -->
  
  <!-- clients -->
  <section class="section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Students-Book Details page.</h2>
        </div>
      </div>
      <div class="row">
        
          
           
    

              
                <table class="table table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">Roll.number</th>
                        <th scope="col">ID</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                       
                      <tr>
                        
                        <td>{{object.name}}</td>
                        <td>{{object.department}}</td>
                        <td>{{object.rollno}}</td>
                        <td>{{object.id}}</td>
                        
                      </tr>
                     
                    </tbody>
                  </table>
        
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /clients -->
  

    
</body>
</html>