<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
       

        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Department</th>
                <th>Year</th>
                
            </tr>
            {% for object in object_list %}
                    <tr>
                        <td>{{object.id}}</td>
                        <td>{{object.name}}</td>
                        <td> {{object.departent}}</td>
                        <td>{{object.rollnumber}}</td>
                        
                    </tr>
                    
            {% endfor %}

        </table>
        
    

</body>
</html>